.top-bar-container {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #1877f2;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.top-bar-left {
  flex: 3;
}
.top-bar-center {
  flex: 5;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.top-bar-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
}
.search-bar > i {
  margin-left: 10px;
}

.top-bar-center .search-bar > input {
  border: none;
  outline: none;
  width: 70%;
}
.top-bar-right {
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.top-bar-link {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.top-bar-icons {
  display: flex;
}

.top-bar-icon-item {
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.top-bar-icon-badge {
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  color: white;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
